.App {
  text-align: center;
}
.buttonBox {
  margin: 50px auto;
}
button {
  width: 50px;
  margin: 0px 10px;
}
.selected {
  background-color: darkgray;
  color: white;
  border-radius: 3px;
}
ol {
  list-style: none;
  padding: 0;
}